<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Validate ID</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" novalidate angular-validator id="IDValidation" name="IDValidation" angular-validator-submit="validate()">
                <div class=" form-group ">
                    <label class="col-sm-3 control-label ">South African ID No.</label>
                    <div class="col-sm-9 ">
                        <input class="form-control " name="identifier " type="text " ng-model="identification.identifier " placeholder="South African ID Number " required required-message=" 'A South African ID number is required' ">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-sm-offset-3 col-sm-3 ">
                        <button type="submit " class="btn btn-primary ">Validate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row ">
    <div class="panel panel-default ">
        <div class="panel-heading ">Validated IDs</div>
        <div class="panel-body ">
            <div class="table-responsive ">
                <table class="table table-striped ">
                    <tr>
                        <th>ID Number</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Citizenship</th>
                    </tr>
                    <tbody data-ng-repeat="item in identifications ">
                        <tr>
                            <td>{{item.identifier}}</td>
                            <td>{{item.dateOfBirth}}</td>
                            <td>{{item.gender}}</td>
                            <td>{{item.citizenship}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<pre><code>{{ identification }}</code></pre>
<pre><code>{{ identifications }}</code></pre>